div {
  width: 500px;
  height: 100vh;
  border: 1px solid black;
  background-color: #d6ffb7;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
